.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  font-size: 14px;
}

/* left */
.brand {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.brand img:first-child {
  width: 40px;
}

.brand img:nth-child(2) {
  width: 100px;
}

/* right */
.items_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links_container > * {
  transition: all 150ms;
}

.links_container > *:hover {
  color: #016cee;
}
