.social_summary_card {
  padding: 16px 20px;
  border-radius: 12px;
  background: white;
  color: black;
}

.social_summary_card .title_top_left {
  font-size: 16px;
  font-weight: 600;
}

.social_summary_card .subtitle_top_left {
  font-size: 13px;
  font-weight: 400;
}

.social_summary_card .label {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #636363;
}

.social_summary_card .value {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.social_chart {
  height: 410px;
}

